<!DOCTYPE html>
<html>
    <head>
     <title>Fotoflask</title>
     <link rel="stylesheet" href="css/homepage_s.css">
     <link rel="stylesheet" href="/css/navbar.css">
     <link rel="stylesheet" href="/css/loadinganimation1.css">
     <link rel="stylesheet" href="/css/leftsidebar.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>

        
        <%- include("layout/loadinganimation2") %> 
        <%- include("layout/navbar",{user_logged}) %>
        
        <%- include("layout/bottomnavbar") %>

        <div class="ccontainer">

            <!--Left Side Bar-->

            <%- include("layout/leftsidebar") %>

            <!--Main Content-->

            
            <div class="maincontent">

                

                <!--Each post copy paste below-->
                <% if(doc2.length > 0) {%>
                <% doc2.forEach(post=>{ %>
                    <div class="postcontainer">
 
                        <div class="postrow">
                            <div class="userprofile">
                                <img src="/images/ProfilePhotos/<%= post.dprofilepic %>" onerror="this.onerror=null; this.src='/images/OtherAssets/pngwing.com (2).png'; style='object-fit:scale-down;'">
                                <div>
                                    <p><a class="homepage-profile-link" href="/profilepage/<%=encodeURIComponent(post.dusername)%>"><b><%= post.dprofilename%></b></a></p>
                                    <small>Public</small>
                                </div>
                            </div>
                            <div class="postdropdown" >
                                <button class="postdropdownbtn" ><i class="fa-solid fa-ellipsis-vertical"></i></i>
                                </button>
                                <div class="postdropdown-content">
                                    <a class="postdropdown-links" href="/postpage/<%= post._id%>">Go to Post</a>
                                    <a class="postdropdown-links" href="/postpage/<%= post._id%>">Share Post</a>
                                    <% if(post.dusername == user_logged.dusername){ %>
                                        <a class="postdropdown-links" href="/home/remove/<%= post._id%>">Remove Post</a>    
                                    <% } %>
                                </div>
                            </div>                    
                        </div>                                            
                        <img src="/images/PostImages/<%= post.Picture %>" class="postimage">
                        <div class="posttext" >
                            <div>
                                
                            
                                <p class="max-chars" ><a class="homepage-profile-link" href="/profilepage/<%=encodeURIComponent(post.dusername)%>">
                                    <b><%= post.dprofilename%></b>
                                    </a>&emsp;<%= post.Description_of_post%></p>
                            </div>
                        </div>
                        <div class="tabvisiblebtn">
                            <button type="checkbox" value=0 class="tabvisiblebtn-b" onclick="console.log(this.value);showtag(this);">show tags</button>
                            <div class="posttags">Tags: &ensp;
                                <% post.Tag.forEach(tag=>{ %>
                                    <form method="post" action="/search"><button type="submit" class="tagbutton" name="searchinput" href="#" value="<%= tag %>">#<%=tag%></button></form>
                                <% }) %>                    
                            </div> 
                        </div>
                                           
                        <div class="postrow">
                            <div class="activityicons">
                                <form action="/home" method="post">
                                    <input type="hidden" name="likeduser" value="<%= doc4.dusername %>">
                                    <div><button class="postactions likebtn" type="submit" name="like" value="<%= post._id%>">
                                        <% if(post.likes.includes(user_logged.dusername)) {%>
                                            <img height="20vh" width="20vh" src="/images/otherassets/icons8-ok-hand-50 (1).png">
                                            <% }else{ %>
                                            <img height="20vh" width="20vh" src="/images/otherassets/icons8-ok-hand-50.png">
                                            <% } %>
                                    </button><%= post.likes_number%></div>                                                                
                                </form>
                                    <div><a href="/postpage/<%= post._id%>"><button class="postactions commentbtn" ><img height="20vh" width="20vh" src="/images/otherassets/comment-solid.svg"></button></a><%= post.comments_number %></div>
                                    <div><button class="postactions sharebtn" ><img height="20vh" width="20vh" src="/images/otherassets/share-from-square-solid.svg"></button><%= post.Shares %></div>
                                </div>                        
                                <div><a href="/buypost/<%=encodeURIComponent(post._id)%>"><button class="postactions downloadbtn"><img height="20vh" width="20vh" src="/images/otherassets/download-solid.svg"></button></a></div>
                        </div>
                    </div>
                <% }) %>   
                <% }else{ %>
                    <div class="no-following">
                        
                            <div style="text-align: center;">
                                <p >No posts to show</p>
                                <p>Follow Someone to View Their Posts</p>
                            </div>
                            <div style="display: flex; justify-content: center;">
                                <a href="/explore"><button class="followbtn" >Explore  <i class="fa-solid fa-globe"></i></button></a>
                            </div>
                        
                    </div>
                <% } %>



            </div>

            <!--Right Side Bar-->
            <div class="rightsidebar style-1">   

                <div class="advertisements">
                    <div class="sidebartitle">
                        <h4>Sponsored</h4>
                        
                    </div>
                    <div class="add-image">
                        <img src="/images/otherassets/Fotoflask.gif" class="sidebarads">
                        
                    </div>
                </div>

                <div class="sidebartitle">
                    <h4>Events</h4>
                    <a href="#">See All</a>
                </div>
                <div class="events-container style-1">
                    <div class="events">
                        <div class="leftevent">
                            <h3 class="eventdate">19</h3>
                            <span><b>August</b></span>

                        </div>
                        <div class="rightevent">
                            <h4>National Photography Day</h4>
                            <a href="https://www.daysoftheyear.com/days/photography-day/">More Info</a>

                        </div>

                    </div>

                    <div class="events">
                        <div class="leftevent">
                            <h3 class="eventdate">05</h3>
                            <span><b>October</b></span>
                        </div>
                        <div class="rightevent">
                            <h4>Photography Contest 2023</h4>
                            <a href="#">More Info</a>
                        </div>

                    </div>
                    <div class="events">
                        <div class="leftevent">
                            <h3 class="eventdate">29</h3>
                            <span><b>April</b></span>

                        </div>
                        <div class="rightevent">
                            <h3>International Photography Day</h4>
                            <a href="https://www.daysoftheyear.com/days/photography-day/">More Info</a>

                        </div>

                    </div>
                </div>

                


                <div class="sidebartitle">
                    <h4>Chat</h4>
                    <a href="#">Hide Chat</a>
                </div>

                <div class="online-profiles style-1">
                    <div class="onlinelist">

                        <div class="online">
                            <img src="/images/ProfilePhotos/sravan.png">
                        </div>
                        <p>Sravan</p>
                    </div>

                    <div class="onlinelist">

                        <div class="online">
                            <img src="/images/ProfilePhotos/poojyanth.png">
                        </div>
                        <p>Poojyanth</p>
                    </div>

                    <div class="onlinelist">

                        <div class="online">
                            <img src="/images/ProfilePhotos/abhi.jpg">
                        </div>
                        <p>Abhiram</p>
                    </div>
                    <div class="onlinelist">

                        <div class="online">
                            <img src="/images/ProfilePhotos/pavan.png">
                        </div>
                        <p>Sai Pavan</p>
                    </div>
                </div>

            </div>


        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/5e315e4af1.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <script src="/js/homepage.js"></script>
        <script>
            $.holdReady(true);
        setTimeout(function () {
  
            // Setting a variable until
            // document.ready is called
            const myVar = "GFG";
            $.holdReady(false);
        }, 2000);
         $(document).ready(()=> {
            //Preloader
            preloaderFadeOutTime = 500;
            function hidePreloader() {
            var preloader = $('.cube-wrapper');
            preloader.fadeOut(preloaderFadeOutTime);
            }
            hidePreloader();
            });
          </script>

    </body>
</html>